*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}

/* Text */
a{text-decoration: none; color: inherit;}
ul li{list-style: none;}

/*FORM*/
input, select, button, textarea{
    outline: none;
    font-size: inherit;
    font-family: inherit;
}

select, button{
    cursor: pointer;
}


.appearance-none{
	-webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}